body{
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}
.imgchange{
    max-width: 500px;
}
.game{
    background-color: #41658A;
    color: white;
    width: 700px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    
}
.title{
    
    font-family: axia-stencil, sans-serif;
    font-weight: 900;
    font-style: normal;
}
.subtitle{
    font-family: axia, sans-serif;
    font-weight: 900;
    font-style: normal;
}
.parag{
    text-align: center;
    
    font-family: axia, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.bouton *{
    border-radius: 25%;

    background-color: #4C3957;
    
    
}
.bouton{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}